{#
/**
 * array array, no dropdown, Html
 *
 * @var $sColumns
 * @var $sHeaders
 * @var $sRows
 * @var $extraclass
 */
#}
<!-- Array -->

<!-- answer -->
<div class="ls-table-wrapper" role="group" aria-labelledby="ls-question-text-{{ basename }}">
  <table class="{{ coreClass }} {{ extraclass }} table table-bordered table-hover table-array-radio array-compact">
    <colgroup class="col-responses">
      <col class="col-answers" style="width: {{ answerwidth }}%;" />
      {# columns/col.php #}
      {% for aColumn in aColumns %}
        <col class="{{ aColumn.class }}" style="width: {{ aColumn.cellwidth }}%" />
      {% endfor %}
    </colgroup>

    <thead>
      <tr class="ls-heading ls-header">
        {{ sHeaders }}
      </tr>
    </thead>

    <tbody>
      {% if anscount == 0 %}
        <tr>
          <th class="answertext">{{ gT('Error: This question has no answers.') }}</th>
        </tr>
      {% endif %}
      {% for aRow in aRows %}
        {% include aRow.template with aRow.content %}
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- end of answer -->
